<h2> Add a New Group </h2>

<form method="post" action="/groups" enctype="multipart/form-data">
  <label for="group-name-input"> Group Name </label>
  <input  id="group-name-input" type="text" name="groupTitle"
      placeholder="My Awesome Space Group">
  <br>

  <label   for="group-desc-input"> Description </label>
  <textarea id="group-desc-input" name="content"
      placeholder="It's a beautiful group in Space!"></textarea>
  <br>

  <label for="group-photo-input"> Upload Photo </label>
  <input  id="group-photo-input" type="file" name="groupPhoto">
  <br>

  <button> Save Group </button>
</form>
