


<div class="col-sm-8">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> News Feed </h3>
            <!-- <span class="panel-post"> <a href="/"> + </a> </span> -->
        </div>


        <!-- <% if (task.length === 0) { %>
          <h2 style="padding: 5px;"> You Don't Have any Posts </h2>

        <% } else { %>


        <div class="panel-body">
            <div class="dialogbox">
                <div class="body">
                  <span class="tip tip-left"></span>
                <%  task.forEach((oneTask) => { %>
                  <div class="message">
                    <span> <%= oneTask.taskContent %> </span>
                      <%  }) %>
                    <span>   <%= user.name %> </span>
                  </div>
                </div>
              </div>
            </div>
      <%    } %> -->


            <div class="text-right">
                <a href="#">View All Activity <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
