<div class="col-sm-8">
    <div class="panel panel-default myBox">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> News Feed </h3>
            <span class="panel-post"> <a data-target="#taskModal" data-toggle="modal" > + </a> </span>
        </div>

        <% if (groups.tasks.length === 0) { %>
          <h2 style="padding: 5px;"> No Tasks </h2>

        <% } else { %>


        <div class="panel-body">
            <%  groups.tasks.forEach((oneTask) => { %>

         <div class="dialogbox">
                <div class="body">
                  <span class="tip tip-right"></span>
                  <span><div class="message">
                   <%= oneTask.content %>
                  </div>
                </div></span>
              </div>
                  <%  }) %>
            </div>

      <%    } %>
</div>
</div>
</div>
